@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Crash
<div class="text-center">
    <h3>@(ViewBag.function == "edit" ? "Edit" : "Add") Crash</h3>
    <form asp-controller="Home" asp-action="@(ViewBag.function == "edit" ? "Edit" : "Add")" method="post">
        <div class="center" asp-validation-summary="All"></div>
        <div class="editForm">
            <div class="editFormSubDiv">
                <input asp-for="CRASH_ID" value="@Model.CRASH_ID" hidden/>
                <label asp-for="CRASH_DATETIME">Crash Date and Time:</label>
                <input asp-for="CRASH_DATETIME" type="datetime-local" value="@Model.CRASH_DATE.ToString("yyyy-MM-ddThh:mm")" />
                <label asp-for="CITY">City:</label>
                <select asp-for="CITY">
                    @foreach (var city in ViewBag.cities)
                    {
                        if (city == Model.CITY)
                        {
                            <option selected value="@city">@city</option>
                        }
                        else
                        {
                            <option value="@city">@city</option>
                        }
                    }
                </select>
                <label asp-for="COUNTY_NAME">County:</label>
                <select asp-for="COUNTY_NAME">
                    @foreach (var county in ViewBag.counties)
                    {
                        if (county == Model.COUNTY_NAME)
                        {
                            <option selected value="@county">@county</option>
                        }
                        else
                        {
                            <option value="@county">@county</option>
                        }
                    }
                </select>
                <label asp-for="LAT_UTM_Y">Latitude:</label>
                <input asp-for="LAT_UTM_Y" value="@Model.LAT_UTM_Y" />
                <label asp-for="LONG_UTM_X">Longitute</label>
                <input asp-for="LONG_UTM_X" />
                <label asp-for="CRASH_SEVERITY_ID">Crash Severity:</label>
                <select asp-for="CRASH_SEVERITY_ID">
                    @foreach (var severity in ViewBag.severity)
                    {
                        if (severity == Model.CRASH_SEVERITY_ID)
                        {
                            <option selected value="@severity">@severity</option>
                        }
                        else
                        {
                            <option value="@severity">@severity</option>
                        }
                    }
                </select>
            </div>
            <div class="editFormSubDiv">
                <label asp-for="ROUTE">Route:</label>
                <input asp-for="ROUTE" value="@Model.ROUTE" />
                
                <label asp-for="MILEPOINT">Milepoint:</label>
                <input asp-for="MILEPOINT" value="@Model.MILEPOINT" />
                <div>
                    <label asp-for="WORK_ZONE_BOOL">Work Zone Related:</label>
                    @if (Model.WORK_ZONE_RELATED == "True")
                    {
                        <input name="workZone" type="checkbox" checked/>
                    }
                    else
                    {
                        <input name="workZone" type="checkbox"  />
                    }
                </div>
                <div>
                    <label asp-for="PEDESTRIAN_INVOLVED">Pedestrian Involved:</label>
                    @Html.CheckBoxFor(m => m.PEDESTRIAN_INVOLVED)
                </div>
                <div>
                    <label asp-for="BICYCLIST_INVOLVED">Bicyclist Involved:</label>
                    @Html.CheckBoxFor(m => m.BICYCLIST_INVOLVED)
                </div>
                <div>
                    <label asp-for="MOTORCYCLE_INVOLVED">Motorcycle Involved:</label>
                    @Html.CheckBoxFor(m => m.MOTORCYCLE_INVOLVED)
                </div>
                <div>
                    <label asp-for="IMPROPER_RESTRAINT">Improper Restraint:</label>
                    @Html.CheckBoxFor(m => m.IMPROPER_RESTRAINT)
                </div>
                <div>
                    <label asp-for="UNRESTRAINED">Unrestrained:</label>
                    @Html.CheckBoxFor(m => m.UNRESTRAINED)
                </div>
                <div>
                    <label asp-for="DUI">DUI:</label>
                    @Html.CheckBoxFor(m => m.DUI)
                </div>
                <div>
                    <label asp-for="INTERSECTION_RELATED">Intersection Related:</label>
                    @Html.CheckBoxFor(m => m.INTERSECTION_RELATED)
                </div>
            </div>
            <div class="editFormSubDiv">
                <div>
                    <label asp-for="WILD_ANIMAL_RELATED">Wild Animal Related:</label>
                    @Html.CheckBoxFor(m => m.WILD_ANIMAL_RELATED)
                </div>
                <div>
                    <label asp-for="DOMESTIC_ANIMAL_RELATED">Domestic Animal Related:</label>
                    @Html.CheckBoxFor(m => m.DOMESTIC_ANIMAL_RELATED)
                </div>
                <div>
                    <label asp-for="OVERTURN_ROLLOVER">Overturn/Rollover:</label>
                    @Html.CheckBoxFor(m => m.OVERTURN_ROLLOVER)
                </div>
                <div>
                    <label asp-for="COMMERCIAL_MOTOR_VEH_INVOLVED">Commercial Vehicle Involved:</label>
                    @Html.CheckBoxFor(m => m.COMMERCIAL_MOTOR_VEH_INVOLVED)
                </div>
                <div>
                    <label asp-for="TEENAGE_DRIVER_INVOLVED">Teenage Driver Involved:</label>
                    @Html.CheckBoxFor(m => m.TEENAGE_DRIVER_INVOLVED)
                </div>
                <div>
                    <label asp-for="OLDER_DRIVER_INVOLVED">Older Driver Involved:</label>
                    @Html.CheckBoxFor(m => m.OLDER_DRIVER_INVOLVED)
                </div>
                <div>
                    <label asp-for="NIGHT_DARK_CONDITION">Nightime:</label>
                    @Html.CheckBoxFor(m => m.NIGHT_DARK_CONDITION)
                </div>
                <div>
                    <label asp-for="SINGLE_VEHICLE">Single Vehicle Accident:</label>
                    @Html.CheckBoxFor(m => m.SINGLE_VEHICLE)
                </div>
                <div>
                    <label asp-for="DISTRACTED_DRIVING">Distracted Driving:</label>
                    @Html.CheckBoxFor(m => m.DISTRACTED_DRIVING)
                </div>
                <div>
                    <label asp-for="DROWSY_DRIVING">Drowsy Driving:</label>
                    @Html.CheckBoxFor(m => m.DROWSY_DRIVING)
                </div>
                <div>
                    <label asp-for="ROADWAY_DEPARTURE">Vehicle Left Roadway:</label>
                    @Html.CheckBoxFor(m => m.ROADWAY_DEPARTURE)
                </div>
                <input type="submit" value="Submit Changes" />
            </div>
        </div>
    </form>
</div>