@{
    ViewData["Title"] = "Crash Summary";
}


<div class="container">
    <center><img src="~/img/crashimage2_cropped.jpg" alt="Car crash" style="width:75%;" /></center>
        
</div>
<center><h1 class="goth">Are you safe on the  roads in Utah?</h1></center>
<div class="cen">
    <p>In 2021, 320 people died on Utah roadways. State troopers believe that 90% of these crashes could have been prevented. Learn about the risks of driving in your city in Utah, and ways to prevent you and your loved ones from getting in these accidents.</p>
    <a style="font-size:smaller" class="float-right" href="https://www.usnews.com/news/best-states/utah/articles/2022-01-08/roadway-deaths-in-utah-hit-nearly-20-year-high-last-year#:~:text=Data%20from%20the%20Utah%20Department,on%20Utah%20roadways%20in%202021." >Source</a>
</div>

<center>
    <div>
        <label><bold>City:</bold></label>
        <select name="city">
            <option selected value="">-- Select A City --</option>
            @foreach (var city in ViewBag.cities)
            {
                if (city == ViewBag.selectedCity)
                {
                    <option selected value="@city">@city</option>
                }
                else
                {
                    <option value="@city" asp-route-city="@city">@city</option>
                }
            }
        </select>
    </div>
</center>

<h3>Top 5 Causes of accidents in @ViewBag.SelectedCity</h3>




